/* HEADER */
body{
    margin-top: 100px;
}
.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #383636;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    float: right;
}

.nav ul li{
    display: inline-block;
    margin-left: -4px;
}

.nav ul li a{
    display: block;
    color: #ffffff;
    padding: 7px 17px 7px 17px;
    text-decoration: none;
    transition: all linear 0.2s;
}

.nav ul li a:hover, .nav ul li a.clicked{
    background-color: #da4600;
}

.nav:after{
    content: "";
    display: block;
    clear: both;
}

/* HOME */

.content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form input{
    width: 80%;
    display: inline-block;
}

.form label{
    width: 19%;
}

button{
    float: right;
}

.form:after{
    content: "";
    display: block;
    clear: both;
}

#nameErr, #quantityErr, #peselErr, #emailErr, #defaultErr{
    color: crimson;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

/*FOOTER*/
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #383636;
}

.footer span{
    display: block;
    color: #ffffff;
    text-align: right;
    padding: 7px 0px 7px 0px;
}